<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="banner">
  <img src="http://money.moneyexpo.net/media/www/92369181524112612.jpg">
</div>
<div class="topnav" id="myTopnav">
  <a [routerLink]="['/accountDetail']">Home</a>
  <a [routerLink]="['/accountDetail']">Account</a>
  <a [routerLink]="['/transfer']">Transfer</a>
  <a [routerLink]="['/promptpay']">Prompt Pay</a>
  <a [routerLink]="['/']" id="logoutMenu">Logout</a>
  <a class="icon" (click)="openMenu()">
    <a class="fa fa-bars"></a>
  </a>
</div>



