<app-header></app-header>
<div class="title">Prompt Pay Register</div>

<body class="align">
  <div class="grid">
    <!-- <img src="http://www.old.nrru.ac.th/studentloan/UserFiles/Image/ibank.jpg"> -->

    <form class="form login">
      <div class="form__field">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="mobile" name="type" [(ngModel)]="type"> mobile
        </label>
        <label class="form-check-label">
          <input type="radio" class="form-check-input" value="idCard" name="type" [(ngModel)]="type" checked> ID Card
        </label>
      </div>
      <div class="form__field" *ngIf="type === 'mobile'">
        <input id="idValue" type="text" name="idValue" class="form__input" placeholder="Phone Number" [(ngModel)]="idValue">
      </div>

      <div class="form__field" *ngIf="type === 'idCard'">
        <input id="idValue" type="text" name="idValue" class="form__input" placeholder="ID Card" [(ngModel)]="idValue">
      </div>

      <div class="form__field">
        <input id="bankCode" type="text" name="bankCode" class="form__input" placeholder="Bank Code" [(ngModel)]="bankCode">
      </div>

      <div class="form__field">
        <input id="accountName" type="text" name="accountName" class="form__input" placeholder="Account Name" [(ngModel)]="accountName"
          required>
      </div>

      <div class="form__field">
        <input type="submit" value="Sign In" (click)="sendRequest()">
      </div>

    </form>
  </div>
</body>