@import url('https://fonts.googleapis.com/css?family=Pridi');
button {
    font-family: 'Pridi', serif;
    color: black;
    border: none;
    position: relative;
    height: 100px;
    font-size: 28px;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    width : 300px;
    border : 7px solid #003300;
    margin-top: 50px;
    border-radius: 15px;
}

button:hover {
    background-color: white;
    color: black;
    font-weight :bold;
}

button:before, button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #003300;
    transition: 400ms ease all;
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

button:hover:before, button:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.center-div {
    text-align: center;
}
